<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rougelike_bottom_skill_area_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,243}</string>
                <key>spriteSourceSize</key>
                <string>{266,243}</string>
                <key>textureRect</key>
                <string>{{511,3},{266,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_buff_pic_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{895,243},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_buffs_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1096,426},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_chr_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,243}</string>
                <key>spriteSourceSize</key>
                <string>{158,243}</string>
                <key>textureRect</key>
                <string>{{1502,3},{158,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1010,426},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_event_changed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1585,404},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_event_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{1588,448},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_event_pic_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1502,250},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_event_servant_pic_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{741,250},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_events_btn_area_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1629,404},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fig_roguelike_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{606,462},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fig_roguelike_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{653,462},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fig_roguelike_self.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{700,462},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fight_bg_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1365,377},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fight_tab_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{1469,458},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fight_tab_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,40}</string>
                <key>spriteSourceSize</key>
                <string>{115,40}</string>
                <key>textureRect</key>
                <string>{{487,462},{115,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_level_up_item_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,283}</string>
                <key>spriteSourceSize</key>
                <string>{270,283}</string>
                <key>textureRect</key>
                <string>{{3,3},{270,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_level_up_left_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,132}</string>
                <key>spriteSourceSize</key>
                <string>{112,132}</string>
                <key>textureRect</key>
                <string>{{1249,377},{112,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_mutation_item_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{747,452},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_rank_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,250}</string>
                <key>spriteSourceSize</key>
                <string>{209,250}</string>
                <key>textureRect</key>
                <string>{{3,290},{209,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rank_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,247}</string>
                <key>spriteSourceSize</key>
                <string>{209,247}</string>
                <key>textureRect</key>
                <string>{{1021,3},{209,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rank_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{924,424},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_buff_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,208}</string>
                <key>spriteSourceSize</key>
                <string>{226,208}</string>
                <key>textureRect</key>
                <string>{{257,290},{226,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_buff_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,208}</string>
                <key>spriteSourceSize</key>
                <string>{226,208}</string>
                <key>textureRect</key>
                <string>{{1272,3},{226,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_buff_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,208}</string>
                <key>spriteSourceSize</key>
                <string>{226,208}</string>
                <key>textureRect</key>
                <string>{{511,250},{226,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_buff_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{87,82}</string>
                <key>textureRect</key>
                <string>{{895,338},{87,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_buff_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,206}</string>
                <key>spriteSourceSize</key>
                <string>{224,206}</string>
                <key>textureRect</key>
                <string>{{1021,216},{224,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,236}</string>
                <key>spriteSourceSize</key>
                <string>{236,236}</string>
                <key>textureRect</key>
                <string>{{781,3},{236,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,158}</string>
                <key>spriteSourceSize</key>
                <string>{228,160}</string>
                <key>textureRect</key>
                <string>{{1272,215},{226,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,44}</string>
                <key>spriteSourceSize</key>
                <string>{137,44}</string>
                <key>textureRect</key>
                <string>{{741,404},{137,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_skill_bg_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,283}</string>
                <key>spriteSourceSize</key>
                <string>{230,283}</string>
                <key>textureRect</key>
                <string>{{277,3},{230,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,50}</string>
                <key>textureRect</key>
                <string>{{1469,404},{112,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_skill_pic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,49}</string>
                <key>spriteSourceSize</key>
                <string>{112,49}</string>
                <key>textureRect</key>
                <string>{{808,452},{112,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_tag_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,67}</string>
                <key>textureRect</key>
                <string>{{1170,426},{66,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rougelike3.png</string>
            <key>size</key>
            <string>{1672,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bb4011b5cf879236477254e12c60a00:6a6739fff6e3a29bfc0c9d3ab312fcda:01b0f7c81c1477c452fd7c782b3a96fb$</string>
            <key>textureFileName</key>
            <string>rougelike3.png</string>
        </dict>
    </dict>
</plist>
