<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rougelike_boss_circle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{272,1882},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,92}</string>
                <key>spriteSourceSize</key>
                <string>{244,92}</string>
                <key>textureRect</key>
                <string>{{3,1935},{244,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_btn_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,44}</string>
                <key>spriteSourceSize</key>
                <string>{75,44}</string>
                <key>textureRect</key>
                <string>{{678,1960},{75,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_buffs_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{60,39}</string>
                <key>textureRect</key>
                <string>{{990,1927},{60,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_buffs_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,61}</string>
                <key>spriteSourceSize</key>
                <string>{222,61}</string>
                <key>textureRect</key>
                <string>{{1902,1749},{222,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_champion_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,371}</string>
                <key>spriteSourceSize</key>
                <string>{199,371}</string>
                <key>textureRect</key>
                <string>{{830,1377},{199,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_champion_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,57}</string>
                <key>spriteSourceSize</key>
                <string>{103,57}</string>
                <key>textureRect</key>
                <string>{{1986,1264},{103,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_coin_yb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{1566,2003},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_conversation_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,192}</string>
                <key>spriteSourceSize</key>
                <string>{321,192}</string>
                <key>textureRect</key>
                <string>{{1033,1377},{321,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_conversation_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,45}</string>
                <key>spriteSourceSize</key>
                <string>{190,45}</string>
                <key>textureRect</key>
                <string>{{1566,1758},{190,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_dh_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,202}</string>
                <key>spriteSourceSize</key>
                <string>{142,202}</string>
                <key>textureRect</key>
                <string>{{1890,1468},{142,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_diffcult_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,45}</string>
                <key>spriteSourceSize</key>
                <string>{222,45}</string>
                <key>textureRect</key>
                <string>{{990,1996},{222,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_equip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,36}</string>
                <key>spriteSourceSize</key>
                <string>{134,36}</string>
                <key>textureRect</key>
                <string>{{2009,551},{134,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_event_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,380}</string>
                <key>spriteSourceSize</key>
                <string>{262,380}</string>
                <key>textureRect</key>
                <string>{{446,1377},{262,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_event_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,395}</string>
                <key>spriteSourceSize</key>
                <string>{262,395}</string>
                <key>textureRect</key>
                <string>{{1545,573},{262,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_event_servant__bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,377}</string>
                <key>spriteSourceSize</key>
                <string>{265,377}</string>
                <key>textureRect</key>
                <string>{{3,1554},{265,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_event_show_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,48}</string>
                <key>spriteSourceSize</key>
                <string>{127,48}</string>
                <key>textureRect</key>
                <string>{{1902,1975},{127,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_events_answer_pic_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,114}</string>
                <key>spriteSourceSize</key>
                <string>{264,114}</string>
                <key>textureRect</key>
                <string>{{1847,839},{264,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_events_contents_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,541}</string>
                <key>spriteSourceSize</key>
                <string>{602,541}</string>
                <key>textureRect</key>
                <string>{{1302,873},{602,541}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_fig_roguelike_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{1566,1952},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fight_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{852,466}</string>
                <key>spriteSourceSize</key>
                <string>{852,466}</string>
                <key>textureRect</key>
                <string>{{446,907},{852,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_fight_boss_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,409}</string>
                <key>spriteSourceSize</key>
                <string>{296,409}</string>
                <key>textureRect</key>
                <string>{{1132,573},{296,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_fight_btn_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,58}</string>
                <key>spriteSourceSize</key>
                <string>{39,58}</string>
                <key>textureRect</key>
                <string>{{1216,1996},{39,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_fight_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,65}</string>
                <key>spriteSourceSize</key>
                <string>{198,65}</string>
                <key>textureRect</key>
                <string>{{1968,3},{198,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_fresh_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,93}</string>
                <key>textureRect</key>
                <string>{{1847,1371},{178,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_gaoxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,185}</string>
                <key>spriteSourceSize</key>
                <string>{171,185}</string>
                <key>textureRect</key>
                <string>{{825,1752},{171,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_huoqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,81}</string>
                <key>spriteSourceSize</key>
                <string>{286,81}</string>
                <key>textureRect</key>
                <string>{{343,1554},{286,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_level_up_bg_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,441}</string>
                <key>spriteSourceSize</key>
                <string>{900,441}</string>
                <key>textureRect</key>
                <string>{{687,3},{900,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_level_up_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,67}</string>
                <key>spriteSourceSize</key>
                <string>{198,67}</string>
                <key>textureRect</key>
                <string>{{1967,1749},{198,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_level_up_item_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,283}</string>
                <key>spriteSourceSize</key>
                <string>{270,283}</string>
                <key>textureRect</key>
                <string>{{1616,1479},{270,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_level_up_item_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,283}</string>
                <key>spriteSourceSize</key>
                <string>{270,283}</string>
                <key>textureRect</key>
                <string>{{1279,1758},{270,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_level_up_item_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,283}</string>
                <key>spriteSourceSize</key>
                <string>{270,283}</string>
                <key>textureRect</key>
                <string>{{1615,1766},{270,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_level_up_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,313}</string>
                <key>spriteSourceSize</key>
                <string>{275,313}</string>
                <key>textureRect</key>
                <string>{{1299,1479},{275,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_level_up_selected_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,313}</string>
                <key>spriteSourceSize</key>
                <string>{308,313}</string>
                <key>textureRect</key>
                <string>{{428,1643},{308,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_progress_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{916,2003},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_rank_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,290}</string>
                <key>spriteSourceSize</key>
                <string>{242,290}</string>
                <key>textureRect</key>
                <string>{{1033,1702},{242,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_round_result_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,439}</string>
                <key>spriteSourceSize</key>
                <string>{900,439}</string>
                <key>textureRect</key>
                <string>{{3,650},{900,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rule_title_challeng_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,67}</string>
                <key>spriteSourceSize</key>
                <string>{324,67}</string>
                <key>textureRect</key>
                <string>{{272,1554},{324,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rule_title_send_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,66}</string>
                <key>spriteSourceSize</key>
                <string>{279,66}</string>
                <key>textureRect</key>
                <string>{{1229,1377},{279,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rule_title_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,59}</string>
                <key>spriteSourceSize</key>
                <string>{189,59}</string>
                <key>textureRect</key>
                <string>{{1986,1071},{189,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_select_character_diffclut_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,30}</string>
                <key>textureRect</key>
                <string>{{1545,839},{260,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_select_character_star_quest_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1132,873},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_select_star_add_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,135}</string>
                <key>spriteSourceSize</key>
                <string>{260,135}</string>
                <key>textureRect</key>
                <string>{{1847,1107},{260,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_servant_help_flight_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1166,873},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_servant_icon_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{1229,1660},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_servant_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,57}</string>
                <key>spriteSourceSize</key>
                <string>{245,57}</string>
                <key>textureRect</key>
                <string>{{1965,822},{245,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_servant_solt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,66}</string>
                <key>spriteSourceSize</key>
                <string>{246,66}</string>
                <key>textureRect</key>
                <string>{{740,1933},{246,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_servant_solt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,62}</string>
                <key>spriteSourceSize</key>
                <string>{246,62}</string>
                <key>textureRect</key>
                <string>{{428,1960},{246,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_servant_solt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,61}</string>
                <key>spriteSourceSize</key>
                <string>{245,61}</string>
                <key>textureRect</key>
                <string>{{1944,573},{245,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_shiqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,81}</string>
                <key>spriteSourceSize</key>
                <string>{286,81}</string>
                <key>textureRect</key>
                <string>{{740,1643},{286,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_shop_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,566}</string>
                <key>spriteSourceSize</key>
                <string>{832,566}</string>
                <key>textureRect</key>
                <string>{{1132,3},{832,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{152,42}</string>
                <key>textureRect</key>
                <string>{{1968,395},{152,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_shop_btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,40}</string>
                <key>spriteSourceSize</key>
                <string>{186,40}</string>
                <key>textureRect</key>
                <string>{{726,2003},{186,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_shop_btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,40}</string>
                <key>spriteSourceSize</key>
                <string>{186,40}</string>
                <key>textureRect</key>
                <string>{{1968,205},{186,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_shop_buff_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,234}</string>
                <key>spriteSourceSize</key>
                <string>{252,234}</string>
                <key>textureRect</key>
                <string>{{446,650},{252,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_skill_pic_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,71}</string>
                <key>spriteSourceSize</key>
                <string>{134,71}</string>
                <key>textureRect</key>
                <string>{{1890,1674},{134,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_switch_equip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,643}</string>
                <key>spriteSourceSize</key>
                <string>{680,643}</string>
                <key>textureRect</key>
                <string>{{3,3},{680,643}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rougelike2.png</string>
            <key>size</key>
            <string>{2048,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bb4011b5cf879236477254e12c60a00:6a6739fff6e3a29bfc0c9d3ab312fcda:01b0f7c81c1477c452fd7c782b3a96fb$</string>
            <key>textureFileName</key>
            <string>rougelike2.png</string>
        </dict>
    </dict>
</plist>
