<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rougelike_book_tag_have.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{2017,883},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_book_tag_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{2017,912},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_bottom_area_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,229}</string>
                <key>spriteSourceSize</key>
                <string>{915,229}</string>
                <key>textureRect</key>
                <string>{{1441,3},{915,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_bottom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1647,83}</string>
                <key>spriteSourceSize</key>
                <string>{1647,83}</string>
                <key>textureRect</key>
                <string>{{1354,3},{1647,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_coin_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,45}</string>
                <key>spriteSourceSize</key>
                <string>{174,45}</string>
                <key>textureRect</key>
                <string>{{1857,1979},{174,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_conversation_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,51}</string>
                <key>spriteSourceSize</key>
                <string>{158,51}</string>
                <key>textureRect</key>
                <string>{{1953,1416},{158,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_dh_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{843,672}</string>
                <key>spriteSourceSize</key>
                <string>{843,672}</string>
                <key>textureRect</key>
                <string>{{3,683},{843,672}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_equipbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,34}</string>
                <key>spriteSourceSize</key>
                <string>{234,34}</string>
                <key>textureRect</key>
                <string>{{1797,1602},{234,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_event_boss_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{236,385}</string>
                <key>spriteSourceSize</key>
                <string>{236,395}</string>
                <key>textureRect</key>
                <string>{{1797,3},{236,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_event_boss_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,394}</string>
                <key>spriteSourceSize</key>
                <string>{236,394}</string>
                <key>textureRect</key>
                <string>{{3,1801},{236,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_event_split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,10}</string>
                <key>spriteSourceSize</key>
                <string>{170,10}</string>
                <key>textureRect</key>
                <string>{{1857,2028},{170,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_events_choose_btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,54}</string>
                <key>spriteSourceSize</key>
                <string>{544,54}</string>
                <key>textureRect</key>
                <string>{{1309,1979},{544,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_events_progress_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{542,10}</string>
                <key>spriteSourceSize</key>
                <string>{544,12}</string>
                <key>textureRect</key>
                <string>{{670,2021},{542,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_events_progressbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{542,10}</string>
                <key>spriteSourceSize</key>
                <string>{544,12}</string>
                <key>textureRect</key>
                <string>{{401,2035},{542,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_events_tittle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,34}</string>
                <key>spriteSourceSize</key>
                <string>{403,34}</string>
                <key>textureRect</key>
                <string>{{559,1530},{403,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_exp_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,14}</string>
                <key>spriteSourceSize</key>
                <string>{353,14}</string>
                <key>textureRect</key>
                <string>{{597,1530},{353,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_game_result_exp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,60}</string>
                <key>spriteSourceSize</key>
                <string>{513,60}</string>
                <key>textureRect</key>
                <string>{{1953,899},{513,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_game_result_exp_progress.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,14}</string>
                <key>spriteSourceSize</key>
                <string>{415,14}</string>
                <key>textureRect</key>
                <string>{{658,1530},{415,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_game_result_prize_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{640,224}</string>
                <key>spriteSourceSize</key>
                <string>{646,228}</string>
                <key>textureRect</key>
                <string>{{1309,1654},{640,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_game_result_prize_split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,142}</string>
                <key>spriteSourceSize</key>
                <string>{2,142}</string>
                <key>textureRect</key>
                <string>{{401,2028},{2,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_game_result_prize_type_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,20}</string>
                <key>spriteSourceSize</key>
                <string>{151,20}</string>
                <key>textureRect</key>
                <string>{{2025,392},{151,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_level_tittle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,22}</string>
                <key>spriteSourceSize</key>
                <string>{83,22}</string>
                <key>textureRect</key>
                <string>{{559,1937},{83,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_level_up_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1347,676}</string>
                <key>spriteSourceSize</key>
                <string>{1347,676}</string>
                <key>textureRect</key>
                <string>{{3,3},{1347,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_level_up_item_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,293}</string>
                <key>spriteSourceSize</key>
                <string>{317,293}</string>
                <key>textureRect</key>
                <string>{{1674,602},{317,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_level_up_item_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,28}</string>
                <key>spriteSourceSize</key>
                <string>{352,28}</string>
                <key>textureRect</key>
                <string>{{1441,1602},{352,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_level_up_small_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,31}</string>
                <key>spriteSourceSize</key>
                <string>{277,31}</string>
                <key>textureRect</key>
                <string>{{1995,602},{277,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{597,1887},{44,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_menulist_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,346}</string>
                <key>spriteSourceSize</key>
                <string>{24,346}</string>
                <key>textureRect</key>
                <string>{{615,1530},{24,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_mutation_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,626}</string>
                <key>spriteSourceSize</key>
                <string>{1334,626}</string>
                <key>textureRect</key>
                <string>{{679,683},{1334,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_mutation_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,426}</string>
                <key>spriteSourceSize</key>
                <string>{267,426}</string>
                <key>textureRect</key>
                <string>{{3,1530},{267,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_mutation_tittle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,67}</string>
                <key>spriteSourceSize</key>
                <string>{330,67}</string>
                <key>textureRect</key>
                <string>{{1973,1640},{330,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_progress_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,4}</string>
                <key>spriteSourceSize</key>
                <string>{414,4}</string>
                <key>textureRect</key>
                <string>{{1298,2037},{414,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_progress_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,8}</string>
                <key>spriteSourceSize</key>
                <string>{424,8}</string>
                <key>textureRect</key>
                <string>{{646,1530},{424,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rank_name_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,30}</string>
                <key>spriteSourceSize</key>
                <string>{193,30}</string>
                <key>textureRect</key>
                <string>{{1309,1444},{193,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rank_name_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,26}</string>
                <key>spriteSourceSize</key>
                <string>{166,26}</string>
                <key>textureRect</key>
                <string>{{401,1801},{166,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rank_name_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,26}</string>
                <key>spriteSourceSize</key>
                <string>{166,26}</string>
                <key>textureRect</key>
                <string>{{2008,1416},{166,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_rule_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,122}</string>
                <key>spriteSourceSize</key>
                <string>{441,122}</string>
                <key>textureRect</key>
                <string>{{433,1530},{441,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_select_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,49}</string>
                <key>spriteSourceSize</key>
                <string>{265,49}</string>
                <key>textureRect</key>
                <string>{{401,1975},{265,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_select_character_diffclut_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1953,1578},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_servant_skill_lock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{658,1949},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_servant_skill_lock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{1216,2021},{20,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_shop_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{757,30}</string>
                <key>spriteSourceSize</key>
                <string>{757,30}</string>
                <key>textureRect</key>
                <string>{{1309,683},{757,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_shop_buff_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,206}</string>
                <key>spriteSourceSize</key>
                <string>{224,206}</string>
                <key>textureRect</key>
                <string>{{1797,392},{224,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_skillsign1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1975,1578},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_skillsign2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{2017,941},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_skillsign3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{1244,2021},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_skillsign4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{1271,2021},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_switch_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,508}</string>
                <key>spriteSourceSize</key>
                <string>{676,508}</string>
                <key>textureRect</key>
                <string>{{1441,922},{676,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelike_tittle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,93}</string>
                <key>spriteSourceSize</key>
                <string>{660,93}</string>
                <key>textureRect</key>
                <string>{{1309,1882},{660,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelike_unner_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{595,119}</string>
                <key>spriteSourceSize</key>
                <string>{597,121}</string>
                <key>textureRect</key>
                <string>{{1674,3},{595,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rougelike1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bb4011b5cf879236477254e12c60a00:6a6739fff6e3a29bfc0c9d3ab312fcda:01b0f7c81c1477c452fd7c782b3a96fb$</string>
            <key>textureFileName</key>
            <string>rougelike1.png</string>
        </dict>
    </dict>
</plist>
