<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{949,1436},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,72}</string>
                <key>spriteSourceSize</key>
                <string>{172,72}</string>
                <key>textureRect</key>
                <string>{{239,1520},{172,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,250}</string>
                <key>spriteSourceSize</key>
                <string>{275,250}</string>
                <key>textureRect</key>
                <string>{{504,537},{275,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,38}</string>
                <key>spriteSourceSize</key>
                <string>{351,38}</string>
                <key>textureRect</key>
                <string>{{867,178},{351,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,157}</string>
                <key>spriteSourceSize</key>
                <string>{520,157}</string>
                <key>textureRect</key>
                <string>{{281,542},{520,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,19}</string>
                <key>spriteSourceSize</key>
                <string>{115,19}</string>
                <key>textureRect</key>
                <string>{{308,1739},{115,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,19}</string>
                <key>spriteSourceSize</key>
                <string>{115,19}</string>
                <key>textureRect</key>
                <string>{{675,1750},{115,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,603}</string>
                <key>spriteSourceSize</key>
                <string>{221,603}</string>
                <key>textureRect</key>
                <string>{{3,1107},{221,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,548}</string>
                <key>spriteSourceSize</key>
                <string>{171,548}</string>
                <key>textureRect</key>
                <string>{{419,3},{171,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,53}</string>
                <key>spriteSourceSize</key>
                <string>{721,53}</string>
                <key>textureRect</key>
                <string>{{442,537},{721,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,40}</string>
                <key>spriteSourceSize</key>
                <string>{178,40}</string>
                <key>textureRect</key>
                <string>{{657,1512},{178,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,91}</string>
                <key>spriteSourceSize</key>
                <string>{47,91}</string>
                <key>textureRect</key>
                <string>{{215,1769},{47,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{761,1}</string>
                <key>spriteSourceSize</key>
                <string>{761,1}</string>
                <key>textureRect</key>
                <string>{{499,537},{761,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,1}</string>
                <key>spriteSourceSize</key>
                <string>{564,1}</string>
                <key>textureRect</key>
                <string>{{234,1107},{564,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{73,38}</string>
                <key>textureRect</key>
                <string>{{854,1734},{73,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,63}</string>
                <key>spriteSourceSize</key>
                <string>{259,63}</string>
                <key>textureRect</key>
                <string>{{703,816},{259,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,39}</string>
                <key>spriteSourceSize</key>
                <string>{116,39}</string>
                <key>textureRect</key>
                <string>{{459,1709},{116,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{949,1503},{57,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,71}</string>
                <key>spriteSourceSize</key>
                <string>{215,71}</string>
                <key>textureRect</key>
                <string>{{716,1403},{215,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{48,90}</string>
                <key>textureRect</key>
                <string>{{922,450},{48,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{48,92}</string>
                <key>textureRect</key>
                <string>{{310,1762},{48,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,92}</string>
                <key>spriteSourceSize</key>
                <string>{44,92}</string>
                <key>textureRect</key>
                <string>{{579,1740},{44,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,175}</string>
                <key>spriteSourceSize</key>
                <string>{233,175}</string>
                <key>textureRect</key>
                <string>{{504,1149},{233,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,49}</string>
                <key>spriteSourceSize</key>
                <string>{409,49}</string>
                <key>textureRect</key>
                <string>{{239,1107},{409,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,254}</string>
                <key>spriteSourceSize</key>
                <string>{260,254}</string>
                <key>textureRect</key>
                <string>{{758,537},{260,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,115}</string>
                <key>spriteSourceSize</key>
                <string>{243,115}</string>
                <key>textureRect</key>
                <string>{{311,1066},{243,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{907,1339},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,102}</string>
                <key>spriteSourceSize</key>
                <string>{208,102}</string>
                <key>textureRect</key>
                <string>{{3,1714},{208,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,60}</string>
                <key>spriteSourceSize</key>
                <string>{209,60}</string>
                <key>textureRect</key>
                <string>{{694,1339},{209,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,85}</string>
                <key>spriteSourceSize</key>
                <string>{338,85}</string>
                <key>textureRect</key>
                <string>{{778,178},{338,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,216}</string>
                <key>spriteSourceSize</key>
                <string>{229,216}</string>
                <key>textureRect</key>
                <string>{{770,801},{229,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,44}</string>
                <key>spriteSourceSize</key>
                <string>{188,44}</string>
                <key>textureRect</key>
                <string>{{451,1544},{188,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{48,94}</string>
                <key>textureRect</key>
                <string>{{795,1556},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{690,1556},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,93}</string>
                <key>spriteSourceSize</key>
                <string>{48,93}</string>
                <key>textureRect</key>
                <string>{{802,1654},{48,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,97}</string>
                <key>spriteSourceSize</key>
                <string>{233,97}</string>
                <key>textureRect</key>
                <string>{{770,1021},{233,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{854,1651},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{931,1769},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{576,1592},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{69,70}</string>
                <key>textureRect</key>
                <string>{{234,1696},{69,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{863,1478},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,45}</string>
                <key>spriteSourceSize</key>
                <string>{43,45}</string>
                <key>textureRect</key>
                <string>{{969,1338},{43,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,45}</string>
                <key>spriteSourceSize</key>
                <string>{43,45}</string>
                <key>textureRect</key>
                <string>{{969,1387},{43,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{937,1641},{57,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_again_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,79}</string>
                <key>spriteSourceSize</key>
                <string>{233,79}</string>
                <key>textureRect</key>
                <string>{{457,1328},{233,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_again_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{935,1585},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_changxian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,9}</string>
                <key>spriteSourceSize</key>
                <string>{308,9}</string>
                <key>textureRect</key>
                <string>{{909,178},{308,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_changxian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,2}</string>
                <key>spriteSourceSize</key>
                <string>{301,2}</string>
                <key>textureRect</key>
                <string>{{1007,975},{301,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,2}</string>
                <key>spriteSourceSize</key>
                <string>{644,2}</string>
                <key>textureRect</key>
                <string>{{228,1107},{644,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_duanxian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,8}</string>
                <key>spriteSourceSize</key>
                <string>{157,8}</string>
                <key>textureRect</key>
                <string>{{430,1066},{157,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_duanxian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,2}</string>
                <key>spriteSourceSize</key>
                <string>{151,2}</string>
                <key>textureRect</key>
                <string>{{978,3},{151,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_grade_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{430,1262},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_grade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{675,1773},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_grade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{455,1752},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_grade_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{501,1752},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_grade_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{937,1723},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{315,1595},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_headbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,561}</string>
                <key>spriteSourceSize</key>
                <string>{274,561}</string>
                <key>textureRect</key>
                <string>{{3,542},{274,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{406,1762},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_hpbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{579,1706},{107,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_namebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,30}</string>
                <key>spriteSourceSize</key>
                <string>{186,30}</string>
                <key>textureRect</key>
                <string>{{673,1478},{186,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_pinfo_sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,22}</string>
                <key>spriteSourceSize</key>
                <string>{117,22}</string>
                <key>textureRect</key>
                <string>{{984,3},{117,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_quan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{459,1592},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_quan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{315,1459},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_quan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{847,1563},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_scorebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,37}</string>
                <key>spriteSourceSize</key>
                <string>{255,37}</string>
                <key>textureRect</key>
                <string>{{457,1411},{255,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_select1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{703,1079},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_select2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{673,1452},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_select3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{909,502},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_select4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,15}</string>
                <key>textureRect</key>
                <string>{{839,1512},{20,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_selectbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,44}</string>
                <key>spriteSourceSize</key>
                <string>{212,44}</string>
                <key>textureRect</key>
                <string>{{959,1122},{212,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_selectbg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,44}</string>
                <key>spriteSourceSize</key>
                <string>{212,44}</string>
                <key>textureRect</key>
                <string>{{457,1452},{212,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_selectbg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,40}</string>
                <key>spriteSourceSize</key>
                <string>{268,40}</string>
                <key>textureRect</key>
                <string>{{922,178},{268,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{743,1773},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_tdi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,40}</string>
                <key>spriteSourceSize</key>
                <string>{202,40}</string>
                <key>textureRect</key>
                <string>{{451,1500},{202,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_tdi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,535}</string>
                <key>spriteSourceSize</key>
                <string>{412,535}</string>
                <key>textureRect</key>
                <string>{{3,3},{412,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_tdi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,195}</string>
                <key>spriteSourceSize</key>
                <string>{329,195}</string>
                <key>textureRect</key>
                <string>{{504,816},{329,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_tdi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,46}</string>
                <key>spriteSourceSize</key>
                <string>{229,46}</string>
                <key>textureRect</key>
                <string>{{966,178},{229,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_tdi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,85}</string>
                <key>spriteSourceSize</key>
                <string>{108,85}</string>
                <key>textureRect</key>
                <string>{{690,1661},{108,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_tf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{794,1751},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_xian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,170}</string>
                <key>spriteSourceSize</key>
                <string>{9,170}</string>
                <key>textureRect</key>
                <string>{{1003,801},{9,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_xian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,152}</string>
                <key>spriteSourceSize</key>
                <string>{3,152}</string>
                <key>textureRect</key>
                <string>{{971,3},{3,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_xian3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,15}</string>
                <key>spriteSourceSize</key>
                <string>{375,15}</string>
                <key>textureRect</key>
                <string>{{292,1066},{375,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rougelikeNew_yuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,355}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{419,178},{355,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_yuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,213}</string>
                <key>spriteSourceSize</key>
                <string>{214,213}</string>
                <key>textureRect</key>
                <string>{{741,1122},{214,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rougelikeNew_yuan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{311,1313},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rougelikeNew1.png</string>
            <key>size</key>
            <string>{1015,1819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d1cd9909e26e7e22c21f87eb65d0cc:ebc2e8c83d32dce0379779bf40a754d2:8f2683eb4aa04a6a7b175456ac1ac9cb$</string>
            <key>textureFileName</key>
            <string>rougelikeNew1.png</string>
        </dict>
    </dict>
</plist>
