<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>handbook_arrw_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{1707,1491},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_award_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,91}</string>
                <key>spriteSourceSize</key>
                <string>{322,91}</string>
                <key>textureRect</key>
                <string>{{1416,1079},{322,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_card_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,198}</string>
                <key>spriteSourceSize</key>
                <string>{155,198}</string>
                <key>textureRect</key>
                <string>{{1037,1442},{155,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_chr_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1602,1350},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_filter_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,39}</string>
                <key>spriteSourceSize</key>
                <string>{115,39}</string>
                <key>textureRect</key>
                <string>{{1177,1040},{115,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,484}</string>
                <key>spriteSourceSize</key>
                <string>{392,484}</string>
                <key>textureRect</key>
                <string>{{689,689},{392,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_info_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,353}</string>
                <key>spriteSourceSize</key>
                <string>{357,353}</string>
                <key>textureRect</key>
                <string>{{1055,1085},{357,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_mainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{1352,682}</string>
                <key>spriteSourceSize</key>
                <string>{1352,750}</string>
                <key>textureRect</key>
                <string>{{3,3},{1352,682}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,23}</string>
                <key>spriteSourceSize</key>
                <string>{207,23}</string>
                <key>textureRect</key>
                <string>{{1419,1562},{207,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_progress2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,17}</string>
                <key>spriteSourceSize</key>
                <string>{322,17}</string>
                <key>textureRect</key>
                <string>{{3,1544},{322,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_progress3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,17}</string>
                <key>spriteSourceSize</key>
                <string>{632,17}</string>
                <key>textureRect</key>
                <string>{{3,1523},{632,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,23}</string>
                <key>spriteSourceSize</key>
                <string>{207,23}</string>
                <key>textureRect</key>
                <string>{{1726,1174},{207,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_quality1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,40}</string>
                <key>spriteSourceSize</key>
                <string>{235,40}</string>
                <key>textureRect</key>
                <string>{{1301,689},{235,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_quality2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,40}</string>
                <key>spriteSourceSize</key>
                <string>{235,40}</string>
                <key>textureRect</key>
                <string>{{329,1544},{235,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_quality3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,40}</string>
                <key>spriteSourceSize</key>
                <string>{235,40}</string>
                <key>textureRect</key>
                <string>{{1753,1132},{235,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_quality4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,40}</string>
                <key>spriteSourceSize</key>
                <string>{235,40}</string>
                <key>textureRect</key>
                <string>{{1797,1132},{235,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_quality_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{264,1565},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_quality_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{1296,1048},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_quality_icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{645,1559},{38,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_season_awards_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,137}</string>
                <key>spriteSourceSize</key>
                <string>{216,137}</string>
                <key>textureRect</key>
                <string>{{1416,1174},{216,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_season_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{681,1559},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_season_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{670,412}</string>
                <key>spriteSourceSize</key>
                <string>{682,414}</string>
                <key>textureRect</key>
                <string>{{3,1107},{670,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_season_detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1072,542}</string>
                <key>spriteSourceSize</key>
                <string>{1072,542}</string>
                <key>textureRect</key>
                <string>{{1359,3},{1072,542}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_season_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,414}</string>
                <key>spriteSourceSize</key>
                <string>{682,414}</string>
                <key>textureRect</key>
                <string>{{3,689},{682,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_season_s_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{356,232}</string>
                <key>spriteSourceSize</key>
                <string>{362,234}</string>
                <key>textureRect</key>
                <string>{{677,1323},{356,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_season_s_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,234}</string>
                <key>spriteSourceSize</key>
                <string>{362,234}</string>
                <key>textureRect</key>
                <string>{{689,1085},{362,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_skill_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{73,40}</string>
                <key>textureRect</key>
                <string>{{568,1544},{73,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_skill_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,40}</string>
                <key>spriteSourceSize</key>
                <string>{73,40}</string>
                <key>textureRect</key>
                <string>{{1630,1557},{73,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_tab2_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,47}</string>
                <key>spriteSourceSize</key>
                <string>{116,47}</string>
                <key>textureRect</key>
                <string>{{1301,928},{116,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_tab2_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,47}</string>
                <key>spriteSourceSize</key>
                <string>{116,47}</string>
                <key>textureRect</key>
                <string>{{1587,1470},{116,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_tab3_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,143}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1419,1415},{164,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_tab3_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,155}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1239,1442},{176,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_tab4_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,32}</string>
                <key>spriteSourceSize</key>
                <string>{102,32}</string>
                <key>textureRect</key>
                <string>{{1587,1521},{102,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_tab4_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,32}</string>
                <key>spriteSourceSize</key>
                <string>{102,32}</string>
                <key>textureRect</key>
                <string>{{1722,1385},{102,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_tab_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,49}</string>
                <key>spriteSourceSize</key>
                <string>{159,49}</string>
                <key>textureRect</key>
                <string>{{1742,1079},{159,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_tab_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{172,86}</string>
                <key>spriteSourceSize</key>
                <string>{182,96}</string>
                <key>textureRect</key>
                <string>{{1636,1174},{172,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_tab_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,96}</string>
                <key>spriteSourceSize</key>
                <string>{182,96}</string>
                <key>textureRect</key>
                <string>{{1416,1315},{182,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,43}</string>
                <key>spriteSourceSize</key>
                <string>{205,43}</string>
                <key>textureRect</key>
                <string>{{1841,1132},{205,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_ttitle_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,32}</string>
                <key>spriteSourceSize</key>
                <string>{257,32}</string>
                <key>textureRect</key>
                <string>{{3,1565},{257,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_type_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,120}</string>
                <key>spriteSourceSize</key>
                <string>{347,120}</string>
                <key>textureRect</key>
                <string>{{1177,689},{347,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_type_buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{1836,1406},{62,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_type_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{1758,1442},{68,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_type_chr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{1758,1371},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handbook_type_equip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{1831,1477},{62,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handbook_type_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{74,69}</string>
                <key>textureRect</key>
                <string>{{1841,1341},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rougelike_handbook.png</string>
            <key>size</key>
            <string>{1904,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd3d7c5beedefce44477128b72924893:3b51eeb7d158e55ee13e7c83a62b32c6:20028dcf1a75be81051739d0feed994f$</string>
            <key>textureFileName</key>
            <string>rougelike_handbook.png</string>
        </dict>
    </dict>
</plist>
